<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Innova Facturas </ion-title>
    <ion-buttons slot="primary">
      <ion-button href="info">
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        <!-- <ion-icon name="information-outline" slot="end" size="large"></ion-icon> -->
        <span class="material-symbols-outlined" style="color: blue;">
          info
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button color="tertiary" expand="block" href="app/home">
      Ir al Inicio
      <ion-icon slot="end" name="home" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>